@charset "UTF-8";
/* カラー */
/* ブレークポイント */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* メディアクエリの定義 */
/* 全ての要素に適用 */
*, *:before, *:after {
  color: #3e3e3e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 初期化 */
body {
  background-color: #FFFDE7;
  background-size: 80px 80px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(215, 204, 200, 0.7)), color-stop(1%, rgba(215, 204, 200, 0.7)), color-stop(1%, transparent), color-stop(99%, transparent), color-stop(99%, rgba(215, 204, 200, 0.7)), to(rgba(215, 204, 200, 0.7))), -webkit-gradient(linear, left top, right top, color-stop(1%, rgba(215, 204, 200, 0.7)), color-stop(1%, rgba(215, 204, 200, 0.7)), color-stop(1%, transparent), color-stop(99%, transparent), color-stop(99%, rgba(215, 204, 200, 0.7)), to(rgba(215, 204, 200, 0.7))), -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(25%, transparent), color-stop(25%, rgba(215, 204, 200, 0.4)), color-stop(26%, rgba(215, 204, 200, 0.4)), color-stop(26%, transparent), color-stop(50%, transparent), color-stop(50%, rgba(215, 204, 200, 0.4)), color-stop(51%, rgba(215, 204, 200, 0.4)), color-stop(51%, transparent), color-stop(75%, transparent), color-stop(75%, rgba(215, 204, 200, 0.4)), color-stop(76%, rgba(215, 204, 200, 0.4)), color-stop(76%, transparent), to(transparent)), -webkit-gradient(linear, left top, right top, from(transparent), color-stop(25%, transparent), color-stop(25%, rgba(215, 204, 200, 0.4)), color-stop(26%, rgba(215, 204, 200, 0.4)), color-stop(26%, transparent), color-stop(50%, transparent), color-stop(50%, rgba(215, 204, 200, 0.4)), color-stop(51%, rgba(215, 204, 200, 0.4)), color-stop(51%, transparent), color-stop(75%, transparent), color-stop(75%, rgba(215, 204, 200, 0.4)), color-stop(76%, rgba(215, 204, 200, 0.4)), color-stop(76%, transparent), to(transparent));
  background-image: linear-gradient(rgba(215, 204, 200, 0.7) 1%, rgba(215, 204, 200, 0.7) 1%, transparent 1%, transparent 99%, rgba(215, 204, 200, 0.7) 99%, rgba(215, 204, 200, 0.7) 100%), linear-gradient(90deg, rgba(215, 204, 200, 0.7) 1%, rgba(215, 204, 200, 0.7) 1%, transparent 1%, transparent 99%, rgba(215, 204, 200, 0.7) 99%, rgba(215, 204, 200, 0.7) 100%), linear-gradient(transparent, transparent 25%, rgba(215, 204, 200, 0.4) 25%, rgba(215, 204, 200, 0.4) 26%, transparent 26%, transparent 50%, rgba(215, 204, 200, 0.4) 50%, rgba(215, 204, 200, 0.4) 51%, transparent 51%, transparent 75%, rgba(215, 204, 200, 0.4) 75%, rgba(215, 204, 200, 0.4) 76%, transparent 76%, transparent 100%), linear-gradient(90deg, transparent, transparent 25%, rgba(215, 204, 200, 0.4) 25%, rgba(215, 204, 200, 0.4) 26%, transparent 26%, transparent 50%, rgba(215, 204, 200, 0.4) 50%, rgba(215, 204, 200, 0.4) 51%, transparent 51%, transparent 75%, rgba(215, 204, 200, 0.4) 75%, rgba(215, 204, 200, 0.4) 76%, transparent 76%, transparent 100%);
  font-family: 'Open Sans',"游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

img {
  vertical-align: bottom;
}

/* 文字の定義 */
h1 {
  font-size: 14rem;
  white-space: nowrap;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  h1 {
    line-height: 1;
    white-space: normal;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 8rem;
  }
}

h2 {
  font-size: 6rem;
}

@media screen and (max-width: 1023px) {
  h2 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 2.2rem;
  }
}

h3 {
  font-size: 2.6rem;
}

@media screen and (max-width: 1023px) {
  h3 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 2rem;
  }
}

p, li {
  font-size: 2.2rem;
  margin: 0;
}

@media screen and (max-width: 767px) {
  p, li {
    font-size: 1.6rem;
  }
}

a {
  font-size: 1.8rem;
  text-decoration: none;
}

ul {
  list-style: none;
  font-size: 2.2rem;
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  ul {
    font-size: 1.6rem;
  }
}

/* 文字の定義 */
/* セクションの幅や高さ */
section {
  padding: 4rem 0 7rem;
  width: 100%;
  /* インナーの幅 */
}

@media screen and (max-width: 767px) {
  section {
    padding: 4rem 0 4rem;
  }
}

section .inner {
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

/* 見出し */
.title {
  /* グラデーションで折り目がついた感じに */
  background: -webkit-gradient(linear, left top, right top, from(#fdbda8), color-stop(0.5%, #fcaa8f), color-stop(13%, #fcaa8f), color-stop(16%, #fdbda8));
  background: linear-gradient(to right, #fdbda8 0%, #fcaa8f 0.5%, #fcaa8f 13%, #fdbda8 16%);
  display: inline-block;
  font-size: 6rem;
  font-weight: 400;
  margin: 4rem 0 5rem;
  padding: 1rem 3rem;
  position: relative;
  /* ドロップシャドウを少し斜めに配置して、立体感を出す */
}

@media screen and (max-width: 1023px) {
  .title {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 3.5rem;
  }
}

.title::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 5px;
  right: 0;
  height: 15px;
  width: 99%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

/* 見出し */
/* 横並びにする */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .flex {
    display: block;
  }
}

.alert {
  color: red;
}

/* 共通パーツ */
/* 文字入力があるボックス */
.input_info {
  /* グラデーションで折り目がついた感じに */
  background: -webkit-gradient(linear, left top, right top, from(#fdbda8), color-stop(0.5%, #fcaa8f), color-stop(13%, #fcaa8f), color-stop(16%, #fdbda8));
  background: linear-gradient(to right, #fdbda8 0%, #fcaa8f 0.5%, #fcaa8f 13%, #fdbda8 16%);
  display: block;
  margin: 0 auto 4rem;
  padding: 4rem 5rem 3rem;
  position: relative;
  width: 90%;
  /* ドロップシャドウを少し斜めに配置して、立体感を出す */
  /* 横並べにする */
  /* タスクの入力欄 */
  /* タスクの入力欄 */
  /* 送信ボタン */
  /* 送信ボタン */
}

@media screen and (max-width: 1023px) {
  .input_info {
    padding: 4rem 4rem 3rem;
  }
}

@media screen and (max-width: 767px) {
  .input_info {
    margin-top: 2rem;
    padding: 2rem;
    width: 100%;
  }
}

.input_info::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 5px;
  right: 0;
  height: 15px;
  width: 99%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.input_info .flex {
  padding-bottom: 4rem;
}

@media screen and (max-width: 767px) {
  .input_info .flex {
    display: block;
    padding-bottom: 3rem;
  }
}

.input_info .flex p {
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .input_info .flex p {
    text-align: left;
    margin: 1rem 0;
    width: 100%;
  }
}

.input_info .input-text {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 2.2rem;
  padding: 0.5rem 0.8rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 80%;
}

@media screen and (max-width: 1023px) {
  .input_info .input-text {
    width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .input_info .input-text {
    width: 100%;
    font-size: 1.6rem;
  }
}

.input_info .input-text:focus, .input_info .input-text:hover {
  border-bottom: 1px solid #3b69ff;
  outline: none;
  -webkit-box-shadow: 0 10px 4px -4px rgba(59, 105, 255, 0.2);
          box-shadow: 0 10px 4px -4px rgba(59, 105, 255, 0.2);
}

.input_info .input-text::-webkit-input-placeholder {
  color: #717171;
}

.input_info .input-text:-ms-input-placeholder {
  color: #717171;
}

.input_info .input-text::-ms-input-placeholder {
  color: #717171;
}

.input_info .input-text::placeholder {
  color: #717171;
}

.input_info .submit-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #585858;
  border: 1px solid #3e3e3e;
  background-image: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1.8rem;
  margin: 0 auto;
  padding: 1rem 5rem;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .input_info .submit-btn {
    padding: 0.6rem 3rem;
    font-size: 1.6rem;
    margin: 2rem auto;
  }
}

.input_info .submit-btn:hover, .input_info .submit-btn:focus {
  outline: none;
}

.input_info .submit-btn::-moz-foucus-inner {
  border: none;
  padding: 0;
}

.input_info .submit-btn:hover {
  background-color: white;
  color: #3e3e3e;
}

/* 文字入力があるボックス */
/* ヘッダー */
header {
  background-color: #3e3e3e;
  height: 8rem;
}

header .inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 8rem;
  height: 8rem;
}

@media screen and (max-width: 767px) {
  header .inner {
    padding: 0 2rem;
  }
}

header .inner p {
  color: white;
  font-size: 4rem;
}

@media screen and (max-width: 767px) {
  header .inner p {
    font-size: 2.5rem;
  }
}

header .inner a {
  background-color: #a7bbff;
  border: 1px solid #7494ff;
  border-radius: 12px;
  color: #3e3e3e;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1rem 3rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  header .inner a {
    font-size: 1.6rem;
    padding: .5rem 1.5rem;
  }
}

header .inner a:hover {
  background-color: #dae2ff;
}

header .inner .register-btn {
  background-color: #a2fb9f;
  border: 1px solid #73f96e;
  padding: 1rem 5rem;
}

@media screen and (max-width: 767px) {
  header .inner .register-btn {
    padding: .5rem 2.5rem;
  }
}

header .inner .register-btn:hover {
  background-color: #d1fdd0;
}

header .inner .logout-btn {
  background-color: #fff781;
  border: 1px solid #fff44e;
  padding: 1rem 2rem;
}

@media screen and (max-width: 767px) {
  header .inner .logout-btn {
    padding: .5rem 1rem;
  }
}

header .inner .logout-btn:hover {
  background-color: #fffab4;
}

/* ToDoリスト */
#todo .inner {
  /* タスクの表示 */
  /* タスクの表示 */
  /* タスク入力 */
  /* タスク入力 */
}

#todo .inner .introduction {
  background-color: rgba(199, 199, 199, 0.8);
  display: inline-block;
  padding: .35rem 2rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 767px) {
  #todo .inner .introduction {
    text-align: left;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }
}

#todo .inner ul {
  margin: 0 auto 8rem;
}

#todo .inner ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* グラデーションで折り目がついた感じに */
  background: -webkit-gradient(linear, left top, right top, from(#fdbda8), color-stop(0.5%, #fcaa8f), color-stop(13%, #fcaa8f), color-stop(16%, #fdbda8));
  background: linear-gradient(to right, #fdbda8 0%, #fcaa8f 0.5%, #fcaa8f 13%, #fdbda8 16%);
  margin: 0 auto 2rem;
  padding: 2rem 3rem;
  position: relative;
  text-align: left;
  width: 50rem;
  /* ドロップシャドウを少し斜めに配置して、立体感を出す */
}

@media screen and (max-width: 767px) {
  #todo .inner ul li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#todo .inner ul li::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 5px;
  right: 0;
  height: 15px;
  width: 99%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

#todo .inner ul li form {
  margin-left: auto;
  /* 完了ボタン */
  /* 完了ボタン */
}

#todo .inner ul li form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  background-color: #c7c7c7;
  border: 1px solid #aeaeae;
  color: #3e3e3e;
  font-size: 1.8rem;
  margin-left: auto;
  outline: none;
  padding: .3rem 1rem;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  #todo .inner ul li form button {
    font-size: 1.4rem;
  }
}

#todo .inner ul li form button:hover {
  background-color: #e1e1e1;
}

#todo .inner .input_info {
  /* 送信ボタン */
  /* 送信ボタン */
}

#todo .inner .input_info .submit-btn {
  padding: 1rem 5rem;
}

@media screen and (max-width: 767px) {
  #todo .inner .input_info .submit-btn {
    padding: 0.6rem 3rem;
  }
}

/* ToDoリスト */
/* ログイン画面 */
#login .inner {
  /* 見出し */
  /* タスク入力 */
  /* タスク入力 */
}

#login .inner .title {
  /* グラデーションで折り目がついた感じに */
  background: -webkit-gradient(linear, left top, right top, from(#a7bbff), color-stop(0.5%, #8ea7ff), color-stop(13%, #8ea7ff), color-stop(16%, #a7bbff));
  background: linear-gradient(to right, #a7bbff 0%, #8ea7ff 0.5%, #8ea7ff 13%, #a7bbff 16%);
}

#login .inner .input_info {
  /* グラデーションで折り目がついた感じに */
  background: -webkit-gradient(linear, left top, right top, from(#a7bbff), color-stop(0.5%, #8ea7ff), color-stop(13%, #8ea7ff), color-stop(16%, #a7bbff));
  background: linear-gradient(to right, #a7bbff 0%, #8ea7ff 0.5%, #8ea7ff 13%, #a7bbff 16%);
  /* タスクの入力欄 */
  /* タスクの入力欄 */
  /* 送信ボタン */
  /* 送信ボタン */
}

#login .inner .input_info .input-text {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#login .inner .input_info .input-text:focus, #login .inner .input_info .input-text:hover {
  -webkit-box-shadow: 0 10px 4px -4px rgba(59, 105, 255, 0.4);
          box-shadow: 0 10px 4px -4px rgba(59, 105, 255, 0.4);
}

#login .inner .input_info .submit-btn {
  padding: 1rem 3rem;
}

@media screen and (max-width: 767px) {
  #login .inner .input_info .submit-btn {
    padding: 0.6rem 3rem;
  }
}

#login .inner .page-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  text-decoration: underline;
  width: 90%;
}

@media screen and (max-width: 767px) {
  #login .inner .page-link {
    display: block;
    width: 100%;
  }
}

#login .inner .page-link a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  #login .inner .page-link a {
    display: block;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
}

#login .inner .page-link a:hover {
  color: red;
}

/* ログイン画面 */
/* 登録画面 */
#register .inner {
  /* 見出し */
  /* タスク入力 */
  /* タスク入力 */
}

#register .inner .title {
  /* グラデーションで折り目がついた感じに */
  background: -webkit-gradient(linear, left top, right top, from(#a2fb9f), color-stop(0.5%, #73f96e), color-stop(13%, #73f96e), color-stop(16%, #a2fb9f));
  background: linear-gradient(to right, #a2fb9f 0%, #73f96e 0.5%, #73f96e 13%, #a2fb9f 16%);
}

#register .inner .input_info {
  background: -webkit-gradient(linear, left top, right top, from(#a2fb9f), color-stop(0.5%, #73f96e), color-stop(13%, #73f96e), color-stop(16%, #a2fb9f));
  background: linear-gradient(to right, #a2fb9f 0%, #73f96e 0.5%, #73f96e 13%, #a2fb9f 16%);
  /* タスクの入力欄 */
  /* タスクの入力欄 */
  /* 送信ボタン */
  /* 送信ボタン */
}

#register .inner .input_info .input-text {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#register .inner .input_info .input-text:focus, #register .inner .input_info .input-text:hover {
  -webkit-box-shadow: 0 10px 4px -4px rgba(59, 105, 255, 0.4);
          box-shadow: 0 10px 4px -4px rgba(59, 105, 255, 0.4);
}

#register .inner .input_info .submit-btn {
  padding: 1rem 5rem;
}

@media screen and (max-width: 767px) {
  #register .inner .input_info .submit-btn {
    padding: 0.6rem 3rem;
  }
}

#register .inner a {
  display: block;
  padding-left: 5%;
  text-align: left;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  #register .inner a {
    padding-left: 0;
    font-size: 1.6rem;
  }
}

#register .inner a:hover {
  color: red;
}

/* 登録画面 */
/*# sourceMappingURL=style.css.map */