@import "variable";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* メディアクエリの定義 */
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/* 全ての要素に適用 */
*, *:before, *:after {
    color: $word-color;
    box-sizing: border-box;
}

/* 初期化 */
body {
    background-color: #FFFDE7;
    background-size: 80px 80px;
    background-image:
        linear-gradient(rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
        transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
        linear-gradient(90deg, rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
        transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
        linear-gradient(transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
        transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
        transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%),
        linear-gradient(90deg, transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
        transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
        transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%);
    font-family: 'Open Sans',"游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
img {
    vertical-align: bottom;
}

/* 文字の定義 */
h1 {
    font-size: 14rem;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    @include mq('tab') {
        line-height: 1;
        white-space: normal;
    }
    @include mq('sp') {
        font-size: 8rem;
    }
}
h2 {
    font-size: 6rem;
    @include mq('tab') {
        font-size: 4rem;
    }
    @include mq('sp') {
        font-size: 2.2rem;
    }
}
h3 {
    font-size: 2.6rem;
    @include mq('tab') {
        font-size:2.2rem;
    }
    @include mq('sp') {
        font-size: 2rem;
    }
}
p, li {
    font-size: 2.2rem;
    margin: 0;
    @include mq("sp") {
        font-size: 1.6rem;
    }
}
a {
    font-size: 1.8rem;
    text-decoration: none;
}
ul {
    list-style: none;
    font-size: 2.2rem;
    padding-left: 0;
    @include mq("sp") {
        font-size: 1.6rem;
    }
} /* 文字の定義 */

/* インナーの幅 */
.inner {
    width: $layout-width-inner;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* 見出し */
.title {
    /* グラデーションで折り目がついた感じに */
    background: linear-gradient(to right, $pink 0%, $dark-pink 0.5%, $dark-pink 13%, $pink 16%);
    display: inline-block;
    font-size: 6rem;
    font-weight: 400;
    margin: 3rem 0 4rem;
    padding: 1rem 3rem;
    position: relative;

    @include mq('tab'){
        font-size: 4.5rem;
    }
    @include mq('sp'){
        font-size: 3.5rem;
    }
    
    /* ドロップシャドウを少し斜めに配置して、立体感を出す */
    &::after{
        content:"";
        display:block;
        position: absolute;
        z-index: -1;
        bottom: 5px;
        right: 0;
        height: 15px;
        width: 99%;
        background: rgba(0,0,0,0.5);
        box-shadow: 0 5px 5px rgba(0,0,0,0.3);
        transform: rotate(2deg);
    }
} /* 見出し */

/* 横並びにする */
.flex {
    display: flex;
    @include mq('sp'){
        display: block;
    }
}

/* ToDoリスト */
#todo {
    padding: 3rem 0 7rem;
    width: 100%;
    @include mq('sp'){
        padding: 3rem 0 4rem;
    }
    .inner {
        padding: 2rem;
        text-align: center;

        /* タスクの表示 */
        ul {
            margin-bottom: 8rem;

            li {
                /* グラデーションで折り目がついた感じに */
                background: linear-gradient(to right, $pink 0%, $dark-pink 0.5%, $dark-pink 13%, $pink 16%);
                margin: 0 auto 2rem;
                padding: 2rem 3rem;
                position: relative;
                text-align: left;
                width: 50rem;
                @include mq('sp'){
                    width: 100%;
                    display: flex;
                }

                /* ドロップシャドウを少し斜めに配置して、立体感を出す */
                &::after{
                    content:"";
                    display:block;
                    position: absolute;
                    z-index: -1;
                    bottom: 5px;
                    right: 0;
                    height: 15px;
                    width: 99%;
                    background: rgba(0,0,0,0.5);
                    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
                    transform: rotate(2deg);
                }

                form {
                    margin-left: auto;
                    
                    button {
                        appearance: none;
                        background: none;
                        background-color: $green;
                        border: 1px solid darken($green, 10%);
                        color: $word-color;
                        font-size: 1.8rem;
                        margin-left: auto;
                        outline: none;
                        padding: .3rem 1rem;
                        
                        @include mq('sp') {
                            font-size: 1.4rem;
                        }

                        &:hover {
                            background-color: darken($green,10%);
                        }
                    }
                }
            } 
        } /* タスクの表示 */

        /* タスク入力 */
        .input_task {
            /* グラデーションで折り目がついた感じに */
            background: linear-gradient(to right, $pink 0%, $dark-pink 0.5%, $dark-pink 13%, $pink 16%);
            display: block;
            margin: 0 auto 2rem;
            padding: 4rem 5rem 3rem;
            position: relative;
            width: 90%;

            /* ドロップシャドウを少し斜めに配置して、立体感を出す */
            &::after{
                content:"";
                display:block;
                position: absolute;
                z-index: -1;
                bottom: 5px;
                right: 0;
                height: 15px;
                width: 99%;
                background: rgba(0,0,0,0.5);
                box-shadow: 0 5px 5px rgba(0,0,0,0.3);
                transform: rotate(2deg);
            }
            @include mq('sp'){
                margin-top: 2rem;
                padding: 2rem 3rem;
            }

            /* 横並べにする */
            .flex {
                padding-bottom: 4rem;

                @include mq('sp') {
                    display: block;
                    padding-bottom: 3rem;
                }

                p {
                    margin-right: auto;
                    @include mq('sp') {
                        width: 100%;
                        margin: 1rem 0;
                    }

                }
            }

            /* タスクの入力欄 */
            .input-text {
                appearance: none;
                background-color: transparent;
                background-image: none;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 0;
                color: inherit;
                font-family: inherit;
                font-size: 2.2rem;
                padding: 0.5rem 0.8rem;
                width: 80%;
                @include mq('sp') {
                    width: 100%;
                    font-size: 1.6rem;
                }
                
                &:focus, &:hover {
                    border-bottom: 1px solid rgba(59, 105, 255, 1);
                    outline: none;
                    box-shadow: 0 10px 4px -4px rgba(59, 105, 255, 0.2);
                }
            } /* タスクの入力欄 */

            /* 送信ボタン */
            .submit-btn {
                appearance: none;
                background-color: $green;
                background-image: none;
                border: 1px solid darken($green, 10%);
                border-radius: 12px;
                color: $word-color;
                cursor: pointer;
                display: block;
                font-size: 1.8rem;
                margin: 0 auto;
                padding: 1rem 5rem;
                font-weight: 400;
                text-decoration: none;
                position: relative;
                transition: all 0.3s ease 0s;

                @include mq("sp") {
                    padding: 0.6rem 3rem;
                    font-size: 1.8rem;
                    margin: 2rem auto;
                }
                
                &:hover,
                &:focus {
                    outline: none;
                }
                
                &::-moz-foucus-inner {
                    border: none;
                    padding: 0;
                }

                &:hover {
                    background-color: darken($green,10%);
                }

            } /* 送信ボタン */

        } /* タスク入力 */
            
    }
}
/* ToDoリスト */

/* ログイン画面 */
#login {
    padding: 3rem 0 7rem;
    width: 100%;
    @include mq('sp'){
        padding: 3rem 0 4rem;
    }
    .inner {
        padding: 2rem;
        text-align: center;

        /* タスク入力 */
        .input_info {
            /* グラデーションで折り目がついた感じに */
            background: linear-gradient(to right, $pink 0%, $dark-pink 0.5%, $dark-pink 13%, $pink 16%);
            display: block;
            margin: 0 auto 2rem;
            padding: 4rem 5rem 3rem;
            position: relative;
            width: 90%;

            /* ドロップシャドウを少し斜めに配置して、立体感を出す */
            &::after{
                content:"";
                display:block;
                position: absolute;
                z-index: -1;
                bottom: 5px;
                right: 0;
                height: 15px;
                width: 99%;
                background: rgba(0,0,0,0.5);
                box-shadow: 0 5px 5px rgba(0,0,0,0.3);
                transform: rotate(2deg);
            }
            @include mq('sp'){
                margin-top: 2rem;
                padding: 2rem 3rem;
            }

            /* 横並べにする */
            .flex {
                padding-bottom: 4rem;

                @include mq('sp') {
                    display: block;
                    padding-bottom: 3rem;
                }

                p {
                    margin-right: auto;
                    @include mq('sp') {
                        width: 100%;
                        margin: 1rem 0;
                    }

                }
            }

            /* タスクの入力欄 */
            .input-text {
                appearance: none;
                background-color: transparent;
                background-image: none;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 0;
                color: inherit;
                font-family: inherit;
                font-size: 2.2rem;
                padding: 0.5rem 0.8rem;
                width: 80%;
                @include mq('sp') {
                    width: 100%;
                    font-size: 1.6rem;
                }
                
                &:focus, &:hover {
                    border-bottom: 1px solid rgba(59, 105, 255, 1);
                    outline: none;
                    box-shadow: 0 10px 4px -4px rgba(59, 105, 255, 0.2);
                }
            } /* タスクの入力欄 */

            /* 送信ボタン */
            .submit-btn {
                appearance: none;
                background-color: $green;
                background-image: none;
                border: 1px solid darken($green, 10%);
                border-radius: 12px;
                color: $word-color;
                cursor: pointer;
                display: block;
                font-size: 1.8rem;
                margin: 0 auto;
                padding: 1rem 5rem;
                font-weight: 400;
                text-decoration: none;
                position: relative;
                transition: all 0.3s ease 0s;

                @include mq("sp") {
                    padding: 0.6rem 3rem;
                    font-size: 1.8rem;
                    margin: 2rem auto;
                }
                
                &:hover,
                &:focus {
                    outline: none;
                }
                
                &::-moz-foucus-inner {
                    border: none;
                    padding: 0;
                }

                &:hover {
                    background-color: darken($green,10%);
                }

            } /* 送信ボタン */

        } /* タスク入力 */
            
    }
}
/* ログイン画面 */
